HUGGINGFACE_API_TOKEN=your_hugging_face_api_token

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_16_char_app_password

FRONTEND_URL=http://localhost:5173

OPENROUTER_API_KEY=sk-or-v1-
